/* block specific CSS goes here */
.full-width.hero-container {
  width: 100%;
}
.full-width .hero-wrapper {
  max-width: unset;
}
.hero-wrapper {
  max-width: 1440px;
}
.hero-wrapper .hero {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.hero-wrapper .fixed-bg {
  height: 906px;
}
/* homepage */
.hero-wrapper .fixed-bg.bg-1 {
  background: url("../../imgs/non-branded_KV-v1.png") no-repeat center;

}
.hero-wrapper .hero-logo {
  width: 100%;
  padding-left: 38px;
  padding-top: 39px;
}
.hero-wrapper .hero-info {
  display: flex;
  gap: 495px;
  flex: 0.45;
  align-items: flex-end;
}
.hero-wrapper .hero-info h2 {
  font-size: 80px;
  line-height: 97px;
  font-style: italic;
  font-family: 'Proxima Nova', sans-serif;
}
.hero-wrapper .hero-info div:first-child h2 {
  color: #fff;
}
.hero-wrapper .hero-info div:last-child h2 {
  color: var(--primary-color);
}
/* symptoms page */
/* homepage */
.hero-wrapper .fixed-bg.bg-2-1 {
  background: url("../../imgs/BG-mask-v2.png") no-repeat center;
  height: 780px;
  position: relative;
}
.banner-text .hero-info div:first-child h2 {
  font-size: 80px;
  line-height: 86px;
  color: var(--text-color);
  font-weight: normal;
}
.banner-text .hero-info div:last-child {
  font-size: 20px;
  line-height: 28px;
}
.banner-text .hero-info {
  gap: 100px;
  flex: 1;
  align-items: flex-start;
  padding: 0 135px;
}
.banner-text .hero-info div:first-child {
  margin-top: 50px;
}
.banner-text .hero-info div:last-child {
  margin-top: 200px;
}
.banner-text .hero-info div:last-child p:not(:last-child) {
  margin-bottom: 40px;
}
.hero-wrapper .banner-text .hero-ref {
  font-size: 20px;
  line-height: 28px;
  color: var(--secondary-color);
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  left: 145px;
}

@media (max-width: 1200px) {
  .hero-wrapper .hero-info {
    gap: 350px;
  }
}
@media (max-width: 1025px) {
  .hero-wrapper .hero-info {
    gap: 300px;
  }
  .hero-wrapper .hero-info h2 {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .hero-logo {
    display: none;
  }
  .hero-wrapper .hero-info {
    flex: 0.65;
    gap: 200px;
  }
  .hero-wrapper .hero-logo img {
    max-width: 98px;
  }
  .hero-wrapper .fixed-bg {
    height: 450px;
  }
  .hero-wrapper .hero-info h2 {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .hero-wrapper .fixed-bg {
    height: 280px;
  }
  .hero-wrapper .hero-info h2 {
    font-size: 18px;
    line-height: 26px;
  }
}
