.tabs-wrapper .tabs {
  padding: 170px 139px 141px 139px;
}
.tabs .tabs-head {
  text-align: center;
}
.tabs .tabs-head h4 {
  font-size: 45px;
  line-height: 65px;
  margin-bottom: 32px;
  font-weight: normal;
}
.tabs .tabs-head p {
  font-size: 20px;
  line-height: 28px;
}
.tabs .tabs-info {

}
.tabs .tabs-triggers {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  gap: 173px;
  padding-left: 98px;
  padding-right: 94px;
  margin-top: 58px;
  margin-bottom: 60px;
}
.tabs .tabs-triggers .tabs-trigger {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  color: #686868;
  opacity: 0.4;
}
.tabs .tabs-triggers .tabs-trigger.active {
  color: var(--primary-color);
  opacity: 1;
  position: relative;
}
.tabs .tabs-triggers .tabs-trigger.active::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -60px;
  top: -30px;
  width: 105px;
  height: 105px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(156, 219, 217, 0.7) 0%, rgba(156, 219, 217, 0.14) 53.12%, rgba(255, 255, 255, 0) 100%);

}
.tabs .tabs-content {
  display: none;
}
.tabs .tabs-contents {
  max-width: 1162px;
}
.tabs .tabs-content {
  background-color: #F0F8FA;
  max-height: 372px;
  padding: 67px 94px 67px 101px;
}
.tabs .tabs-content h6 {
  font-size: 26px;
  line-height: 30px;
  color: var(--primary-color);
  margin-bottom: 27px;
}
.tabs .tabs-contents .content-list-1 li:not(:first-child),
.tabs .tabs-contents .content-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tabs .tabs-contents .content-wrap .content-list-1 li:not(:first-child) {
  align-items: center;
  margin-bottom: 41px;
}
.tabs .tabs-contents .content-wrap {
  gap: 90px;
  font-size: 20px;
  line-height: 28px;
}
.tabs .tabs-contents .content-wrap ul li:not(:first-child) {
  gap: 18px;
  font-weight: normal;
  position: relative;
}
.tabs .tabs-contents .content-wrap .content-list-1 {
  max-width: 304px;
}
.tabs .tabs-contents .content-wrap .content-list-2 {
  max-width: 289px;
}
.tabs .tabs-contents .content-wrap .content-list-1 img {
  max-width: 75px;
  height: 70px;
}
.tabs .tabs-contents .content-wrap .content-list-2 li:not(:first-child)::before {
  content: "\2022";
  font-size: 20px;
  margin-right: 10px;
}
.tabs .tabs-contents .content-wrap > p img,
.tabs .tabs-contents .content-wrap > p {
  height: 432px;
  max-width: 174px;
  position: relative;
  flex: 1;
}
.tabs .tabs-contents .content-wrap > p img {
  top: -100px;
}
.tabs .tabs-contents .content-wrap > p:nth-child(1) {
  display: none;
}
@media (max-width: 1280px) {
  .tabs-wrapper .block.block.tabs {
    padding: 150px 20px 119px;
  }
}
@media (max-width: 992px) {
  /* tabs mobile */
  .tabs-wrapper .block.block.tabs {
    padding: 60px 20px;
  }
  .tabs .tabs-contents .tabs-content {
    max-height: unset;
    padding: 0 35px 60px 45px;
  }
  .tabs .tabs-contents .tabs-content .content-wrap {
    gap: 15px;
  }
  .tabs .tabs-contents .content-wrap {
    flex-direction: column;
  }
  .tabs .tabs-contents .content-wrap > p:nth-child(1) {
    display: block;
  }
  .tabs .tabs-contents .content-wrap > p:nth-of-type(2) {
    display: none;
  }

  .tabs .tabs-contents .tabs-content .content-wrap > p img {
    width: 95px;
    height: 232px;
    top: -10px;
  }
  .tabs .tabs-contents .content-wrap .content-list-1 li:not(:first-child) {
    flex-direction: row;
    gap: 19px;
    justify-content: flex-start;
  }
  .tabs .tabs-contents .content-wrap {
    font-size: 16px;
    line-height: 26px;
    align-items: center;
  }
  .tabs .tabs-content h6 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .tabs .tabs-contents .tabs-content .content-wrap > p {
    max-width: unset;
    width: 100%;
    text-align: center;
  }
  .tabs .tabs-contents .content-wrap .content-list-1,
  .tabs .tabs-contents .content-wrap .content-list-2 {
    max-width: unset;
    width: 50%;
  }
  .tabs .tabs-triggers {
    gap: 46px;
    padding: 0 20px;
  }
  .tabs .tabs-triggers .tabs-trigger {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 768px) {
  .tabs .tabs-contents .content-wrap .content-list-1,
  .tabs .tabs-contents .content-wrap .content-list-2 {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .tabs .tabs-contents .content-wrap .content-list-1,
  .tabs .tabs-contents .content-wrap .content-list-2 {
    width: 100%;
  }
}
