
.footer ul {
  margin: 0;
  padding: 0;
}
.footer li {
  list-style: none;
  line-height: 28px;
}
.footer li a {
  color: var(--text-white);
  font-weight: 500;
}
.footer-info {
  color: var(--text-white);
  background-color: #EFEFEF;
}
.footer-info .footer-head {
  font-size: 12px;
  line-height: 17px;
  color: #686868;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 20px;
}
.footer-info .footer-main-content {
  background-color: #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 51px 39px 33px 66px;
}
.footer-list-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.footer-list-logo ul {
  margin-bottom: 69px;
}
.footer-list-logo li {
  font-size: var(--body-font-size-sm);
  margin-bottom: 18px;
}
.footer-list-logo .footer-logo ul {
  margin-top: 2px;
}
.footer-list-logo .footer-logo ul li {
  font-size: var(--body-font-size-s);
  margin-bottom: 8px;
}
.footer-text p {
  font-size: 16px;
  line-height: 27px;
  font-weight: normal;
}
.footer-gcma {
  font-size: 12px;
  font-weight: bold;
  margin-top: 19px;
}
@media (max-width: 768px) {
  .footer-info .footer-head {
    padding-left: 20px;
    padding-bottom: 29px;
  }
  .footer-main-content .footer-list-logo{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer li a {
    font-weight: 700;
  }
  .footer-list-logo ul {
    margin-bottom: 32px;
  }
  .footer-list-logo .footer-logo ul {
    margin-bottom: 90px;
  }
  .footer-text p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .footer-info .footer-main-content {
    padding: 39px 28px 28px 28px;
  }
}
